<div id="logWrap" style="padding: 5px;width:calc(100% - 10px);">
    <div class="input-append">
        <input class="span2" ng-model="query" placeholder="搜索" type="text">
        <button class="btn" type="button" ng-click="clear()">清空列表</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-click="order=order=='date'?'-date':'date';">时间</th>
                <th ng-click="order=order=='filename'?'-filename':'filename';">地址</th>
                <th ng-click="order=order=='method'?'-method':'method';">Method</th>
                <th ng-click="order=order=='contentType'?'-contentType':'contentType';">Type</th>
                <th ng-click="order=order=='statusCode'?'-statusCode':'statusCode';">Status</th>
                <th>header</th>
                <th>内容</th>
                <th ng-click="order=order=='size'?'-size':'size';">Size(kb)</th>
                <th ng-click="order=order=='delay'?'-delay':'delay';">耗时(ms)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in logs| filter:{filename:query} | orderBy:order:false">
                <td>{{log.date| date: 'HH:mm:ss'}}</td>
                <td><span style="display: inline-block; max-width: 250px;">{{log.filename.slice(0,35)}}</span></td>
                <td>{{log.method}}</td>
                <td>{{log.contentType}}</td>
                <td>{{log.statusCode}}</td>
                <td><a href="javascript://" log-head-content="{{log.id}}">点击查看</a></td>
                <td><a href="javascript://" log-content="{{log.id}}">点击查看</a></td>
                <td>{{log.size}}</td>
                <td>{{log.delay}}</td>
            </tr>
        </tbody>
    </table>
    <pre id="logContentWrap">
        <button type="button" log-close-content class="close">×</button>
        <code id="logContent" class="javascript"></code>
    </pre>
</div>
