<div>
    <form class="form-horizontal" name="systemForm">
        <div class="control-group">
            <label class="control-label">代理端口</label>
            <div class="controls">
                <input type="text" name="proxyPort"  disabled="disabled" value="17173">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">存档文件夹</label>
            <div class="controls">
                <input type="text" class="large" ng-model="systemSetting.storeDir" name="storeDir" style="width: 390px;">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">自动代理文件目录</label>
            <div class="controls">
                <input type="text" class="large" ng-model="systemSetting.proxyDir" name="proxyDir" style="width: 390px;">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">全局Response Header</label>
            <div class="controls">
                <p class="globarHeader firstGlobalHeader" ng-repeat="gh in systemSetting.globalHeaders">
                    <input class="span2 headerName"  placeholder="清空即可删除" type="text" ng-model="gh.name">
                    :
                        <input class="span3 headerValue"  placeholder="清空即可删除" type="text" ng-model="gh.value">
                    <a href="javascript://" class="btn btn-success btn-mini" ng-click="addGlobalHeader()"><i class="icon icon-plus icon-white"></i></a>
                </p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" ng-disabled="systemForm.$invalid" ng-click="update(systemSetting)">保存</button>
                <span class="error-msg" ng-show="errorMsg">{{errorMsg}}</span>
            </div>
        </div>
    </form>
</div>
