<div class="route-update">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">路径</label>
            <div class="controls">
                <input type="text" name="path" ng-model="route.path" placeholder="路径" value="/">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Status Code</label>
            <div class="controls">
                <select name="statusCode" ng-model="route.statusCode" ng-options="k as v for (k, v) in statusCodes">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">延迟</label>
            <div class="input-append">
                <input class="span2" name="delay" ng-model="route.delay" placeholder="延迟" type="number">
                <span class="add-on">毫秒</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="routeStatusCode">代理设置</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" ng-model="route.noProxy" name="noProxy">
                    请求原始地址
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Content Type</label>
            <div class="controls">
                <select name="contentType" ng-model="route.contentType" ng-options="k as k for (k, v) in contentTypes">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">自定义Header</label>
            <div class="controls" id="addCustomHeaderContainer">
                <p class="customCustomHeader firstCustomHeader">
                    <input class="span2 headerName" type="text">
                    :
                        <input class="span3 headerValue" type="text">
                    <a href="javascript://" class="btn btn-success btn-mini btn-add-header" id="addCustomHeader"><i class="icon icon-plus icon-white"></i></a>
                </p>
            </div>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="customHandler" ng-model="route.customHandler">
                自定义函数(返回值作为函数运行,并返回运行结果)
                        <a class="btn btn-small marginLeft3" id="curtomHandlerHelpBtn" href="javascript://" data-toggle="popover" data-original-title="自定义处理函数">帮助</a>
            </label>
        </div>
        <div class="control-group">
            <label class="control-label">返回值</label>
            <div class="controls">
                <textarea cols="70" rows="4" name="responseData" ng-model="route.responseData"></textarea>
            </div>
        </div>
    </form>
        <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-click="update(route)">保存</button>
    </div>
</div>
