<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">域名</label>
        <div class="controls">
            <input type="text" name="name" placeholder="域名" value="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">端口</label>
        <div class="controls">
            <input type="text" name="port" value="80" placeholder="端口">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">描述</label>
        <div class="controls">
            <textarea cols="30" rows="3" name="desc"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Mock类型</label>
        <div class="controls">
            <select name="mockType">
                <option value="1">修改本地HOST</option>
                <option value="2">客户端代理</option>
            </select>
            稳定性更好,但是不能查看和重定向现有的外网地址
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">保存</button>
        </div>
    </div>
</form>
